.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 10%;
    background-color: #233738;
}.header h1{
    color: #c37b7b;
    text-align: center;
    line-height: 100px;
}
.content{
    width: 100%;
    height: 90%;
    background-color: #8e7592;
}.content p{
    text-align: center;
    line-height: 50px;
}
.content p:nth-child(2){
    margin-top: 20px;
}.content p:nth-child(3){
    margin-top: 20px;
}
